/.svelte-kit
/.vercel
/.vscode
/blob-report
/build
/node_modules
/package
/playwright-report
/playwright/.cache/
/test-results

.env
.env.*
!.env.example

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

bun.lockb
package-lock.json
pnpm-lock.yaml

*.swp
*~
._*
.DS_Store
.Trashes
Desktop.ini
ehthumbs.db
thumbs.db

todo.txt